@import "./variables";

$_ripple-foreground: rgba($grey-300, 0.1);

.ripple-element {
  border-radius: 50%;
  background: $_ripple-foreground;

  position: absolute;
  pointer-events: none;

  transition: transform 0ms $ease-in-out, opacity;
  transform: scale(0);
}
