@import "variables";

:host {
  position: relative;
  display: inline-block;

  .card-form {
    align-items: center;
    border: 1px solid $grey-200;
    border-radius: $shape / 2;
    display: flex;
    grid-template-columns: 20px repeat(3, minmax(20px, 1fr)) 1fr;
    grid-auto-flow: column;
    padding: $padding-xss $padding-xs;
  }

  .card-input {
    border: none;
    background: transparent;
    outline: none;
    width: 40px;
    padding: 0 $padding-xss;
  }

  .spacer {
    color: $grey-200;
  }

  .card-icon {
    width: 20px;
  }
}
