@import "variables";
@import "mixins";

:host {
  cursor: pointer;
  position: relative;
  display: inline-block;

  .card-form {
    align-items: center;
    display: flex;
    grid-auto-flow: column;
    grid-template-columns: 20px repeat(3, minmax(20px, 1fr)) 1fr;

    @include input-border();
    @include input-padding();
  }

  .card-input {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    width: 40px;
    padding: 0 $padding-xss;

    &:read-only {
      text-align: center;
    }
  }

  .spacer {
    color: $grey-200;
  }

  .card-icon {
    width: 20px;
  }
}
