@import "src/styles/variables";

:host {
  background-color: $primary-color;
  color: $white;
  padding: $padding-md;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;

  .logo {
    font-size: 1.6rem;
    font-weight: bold;
  }

  @media only screen and (max-width: $tablet) {
    grid-template-columns: 1fr;

    .content {
      justify-content: center;
    }
  }
}
