@import "variables";

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin fill() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin input-border() {
  border: 1px solid $grey-200;
  border-radius: $shape / 2;
}

@mixin input-padding() {
  padding: $padding-xss $padding-xs;
}

@mixin input-base() {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;

  @include input-border();
  @include input-padding();
}
