<app-toolbar [title]="'100 Angular Challenge'">
  <nav class="nav">
    <ul class="menu">
      <li class="menu-link"><a routerLink="components">Components</a></li>
      <li class="menu-link"><a routerLink="directives">Directives</a></li>
      <li class="menu-link"><a routerLink="services">Services</a></li>
      <li class="menu-link"><a routerLink="pipes">Pipes</a></li>
      <li class="menu-link"><a routerLink="other">Other</a></li>
    </ul>
  </nav>
</app-toolbar>

<main class="container">
  <router-outlet></router-outlet>
</main>

<app-to-top></app-to-top>
