<app-toolbar [title]="'100 Angular Challenge'">
  <nav class="nav">
    <ul class="menu">
      <li class="menu-link">Components</li>
      <li class="menu-link">Directives</li>
      <li class="menu-link">Services</li>
      <li class="menu-link">Pipes</li>
      <li class="menu-link">Other</li>
    </ul>
  </nav>
</app-toolbar>

<div class="container">
  <app-card [title]="'Accordion'" [subTitle]="'Component'" [icon]="'home'">
    <div card-body>
      <app-accordion>
        <app-accordion-panel [title]="'Panel'">
          Some content
        </app-accordion-panel>
        <app-accordion-panel [title]="'Panel'">
          Some content
        </app-accordion-panel>
        <app-accordion-panel [title]="'Panel'">
          Some content
        </app-accordion-panel>
      </app-accordion>
    </div>
  </app-card>

  <app-card [title]="'Progress Bar'">
    <app-progress [progress]="progress"></app-progress>

    <button (click)="updateProgress()">Update</button>
  </app-card>
</div>
