@import "../node_modules/tailwindcss/base.css";
@import "../node_modules/tailwindcss/utilities.css";

@import "../styles/components/ripple";

@import "font";
@import "typography";

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
