@import "variables";

:host {
  display: flex;
  gap: 10px;

  .star {
    color: $grey-200;
    cursor: pointer;
    font-size: 1.4em;
    transition: color 0.2s ease-in-out;

    &:hover,
    &.active {
      color: $yellow-500;
    }
  }
}
